.Home{
    height:100%;
    width:100%;
    background: linear-gradient(to right rgb(0,0,0),rgb(35,20,74));
    position: absolute;
}
.Home-nav{
    top: 0;
    position: relative;
}
.home-footer{
    position: relative;
    bottom: 0;
}