.container-signup {
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #18122B;
}

.wrapper-signup {
    width: 420px;
    background: rgb(240, 240, 240);
    /* border: 2px solid rgba(0, 0, 0, 0.2); */
    backdrop-filter: blur(25px);
    box-shadow: 0, 0, 10px rgba(0, 0, 0, 0.2);
    color: #000000;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper-signup h1 {
    font-size: 36px;
    text-align: center;
    color: black;
}

.wrapper-signup .input {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.wrapper-signup .input input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.7);
    border-radius: 40px;
    font-size: 16px;
    color: #000000;
    font-weight: 600;
    padding: 20px 45px 20px 20px;
}

.wrapper-signup .input input::placeholder {
    color: black;
    font-weight: 600;
}

.wrapper-signup .input .icon {
    position: absolute;
    right: 2px;
    top: 5%;
    transform: translate(-50%);
    font-size: 18px;
    color: black;
}

.wrapper-signup button {
    width: 100%;
    height: 45px;
    background: #31363F;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 600;

}

.wrapper-signup button:hover {
    background-color: black;
    color: #fff;
    box-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;

}

.wrapper-signup .register-link {
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
    color: black;
}