.Home {
    position: relative;
    height: 100%;
    width: 100%;
}


h2 {
    font-size: 30px;
    color: black;
    font-weight: 900;
    text-decoration: underline;
}


.main-page-content {
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(35, 20, 74));
    height: 100dvh;
    position: relative;
    padding-top: 6rem;
    padding-bottom: 13rem;
}

.main-page {
    position: relative;
}

.main-page .container {
    height: 100px;
    width: 100%;
    background-color: blanchedalmond;
    position: relative;
}

.main-page .container {
    width: 100%;
    display: contents;
}

.main-page-content {
    width: 100%;
    padding-top: 7rem;
    height: 100%;

}

.input {
    margin-bottom: 10px;

}

input[type="enter-code"]{
    width: 50%;
    padding: 15px;
    height: 60px;
    font-size: 16px;
    border: 2px solid #999;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 1px #261e1e;
    margin-right: -2px;
}

input[type="enter-code"]::placeholder {
    color: #999;
}

.input button {
    margin-left: 7px;
    height: 55px;
    width: 60px;
    outline: none;
    border: none;
    font-size: 1rem;
    color: var(--black);
    background-color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1.5px 10px 30px #000;
    margin-top: 2rem;

}

.input button:hover {
    background: linear-gradient(to bottom right, rgb(34, 22, 107), rgb(74, 10, 74));
    color: #fff;
    box-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff;

}