.HomeFooter{
    bottom: 0;
    position: absolute;
    height: fit-content;
    width: fit-content;
}
.main-page{
    background-color: rgb(169, 97, 8);
}

.MainContsiner{
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 300px;
}

.userConatiner{
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10px;
}

h2{
    font-size: 30px;
    color: black;
    font-weight: 900;
    text-decoration: underline;
}



    background: linear-gradient(to right, rgb(0, 0, 0), rgb(35, 20, 74));
    height: 80dvh;
    position: relative;
    padding-top: 6rem;
    padding-bottom:13rem;
}
/* .main-page.container{
    height: 100px;

    width: 100%;
    background-color: blanchedalmond;
    position: relative;

} */
.main-page.container {
    width: 100%;
    max-width: 600px; 
    margin: 0 auto; 
}

.content {
  
    padding-top: 4rem;
    height: 100%;
    
}

.input {
    margin-bottom: 10px;
}

input[type="enter-code"] {
    width: 50%;
    padding: 15px;
    height: 60px;
    font-size: 16px;
    border: 2px solid #999;
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 1px #999; 
    margin-right: -2px;
}

input[type="enter-code"]::placeholder {
    color: #999; /* Placeholder text color */
}
