.HomeNav{
    top: 0;
    position: absolute;
    height: fit-content;
    width: fit-content;
}

.HomeFooter{
    bottom: 0;
    position: absolute;
    height: fit-content;
    width: fit-content;
}