.page2 {
  background: linear-gradient(to right, rgb(0, 0, 0), rgb(35, 20, 74));
}

.section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
}

.section h1 {
  color: #fff;
  font-size: 32px;
}

.slider-container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.content1 {
  width: 250px;
  height: 200px;
  overflow: hidden;
  margin: 20px;
  text-align: center;
  background-color: #484b63;
  border-radius: 10px;
  padding: 20px;
}

.content1 h3 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}

.content1 p {
  color: #d8d0f6;
  font-size: 16px;
  margin: 0;
}

.slick-slider button {
  background-color: #484b63;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 20px;
  z-index: 99;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  z-index: 99;
  font-size: 0; 
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}

.slick-slide {
  padding: 20px;
  position: relative;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  transform: scale(0.9);
}

.slick-current {
  opacity: 1;
  transform: scale(1.1);
}
button.slick-arrow.slick-prev{
  font-size: 0;
}
button.slick-arrow.slick-next{
  font-size: 0;
}